html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
  height: 100%;
}

.newSwiper-contain {
  display: flex;
  height: 100%;
  align-items: center;
  margin-bottom: 3rem;
}

.new-swiper {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  .new-swiper {
    height: 80vh;
  }
}
.new-swiper .swiper {
  overflow-y: visible;
}

.swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  border: 4px solid black;
  position: relative;
  text-align: left;
  font-size: 18px;
  background: rgba(255, 255, 255, 0.8078431373);
  height: calc((100% - 30px) / 2) !important;
  /* Center slide text vertically */
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 1rem;
  transition: all 0.3s ease-in-out;
}
.swiper-slide:hover .title {
  color: rgb(45, 45, 169);
}
.swiper-slide:hover .swiper-link span {
  color: rgb(45, 45, 169);
}
.swiper-slide .item-link-wrapper {
  text-decoration: none;
  color: black;
  height: 100%;
}
.swiper-slide .swiper-link {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.swiper-slide .swiper-link span {
  width: 100%;
  transform: rotate(90deg);
}

.swiper-link {
  border: none;
  border-radius: 0;
}
.swiper-link:hover {
  background-color: azure;
}

.swiper-slide p {
  font-size: 0.8rem;
  max-width: 85%;
  margin-bottom: 0.5rem;
}

.swiper-slide .item-link-wrapper .title {
  font-weight: bold;
  font-size: 1rem;
}

.swiper-pagination {
  bottom: -20px !important;
}
.swiper-pagination .swiper-pagination-bullet {
  background: white;
}
.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: blue;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.header h1 {
  color: white;
  font-weight: bold;
}

.header div {
  display: flex;
  align-items: center;
}

.wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  background: url(../img/swiperbg.jpg) no-repeat center center/cover;
}